<!DOCTYPE html>
<html lang='en'></html>
<head>
  <meta charset='UTF-8'>
  <title>Documentación</title>
  <link href='../assets/styles/styles.css' rel='stylesheet'>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
</head>
<body>
  <header>
    <div class='wrapper'>
      <a class='title' href='/' title='Ir al inicio'>
        <h1>
          <span class='brand_symbol'></span>
          <span class='header_loc'>Developer Examples</span>
        </h1>
      </a>
      <ul class='nav_links'>
        <li>
          <a href=''>Documentación</a>
        </li>
      </ul>
    </div>
  </header>
  <div class='content' id='on_demand'>
    <ul class='versions'>
      <h3>
        Cargos
        <br>
        On-demand
      </h3>
      <li class='version' id='basic'>Llamada básica</li>
    </ul>
    <form action=''>
      <h1>Película BluRay</h1>
      <div class='product'>
        <img alt='' src='../assets/images/demo_image.png'>
      </div>
      <hgroup>
        <h2>VISA 4912 **** **** 1298</h2>
      </hgroup>
      <fieldset class='actions'>
        <button type='submit'>Comprar por $ 199</button>
      </fieldset>
    </form>
    <div class='help'>
      <h3>Ayuda</h3>
      <p>
        Consulta el tutorial para aprender a integrar este método de pago.
        <br>
        <a href='https://www.conekta.io/es/docs/tutoriales/cargos-on-demand' target="_blank">Ver tutorial</a>
      </p>
    </div>
    <div class='error_msg'>
      <h3>Mensaje de error</h3>
      <p>Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas.</p>
    </div>
    <div class='success_msg'>
      <h3>Cargo Exitoso</h3>
      <p>La suscripción se ha realizado con éxito:</p>
      <dl>
        <dt>ID de Transacción</dt>
        <dd>53b060e9d7e1a0a0cc000b49</dd>
        <dt>Cód. de Autorización</dt>
        <dd>633380</dd>
        <dt>Fecha del Cargo</dt>
        <dd>Domingo 18/08/14 a las 13:06</dd>
      </dl>
    </div>
  </div>
  <footer>
    <ul>
      <li>
        <a href='cards.html' target="_self">Pagos con Tarjetas</a>
      </li>
      <li>
        <a href='cash.html' target="_self">Pagos en Efectivo</a>
      </li>
      <li>
        <a href='spei.html' target="_self">Pagos vía SPEI</a>
      </li>
      <li>
        <a href='on-demand.html' target="_self">Pagos On-demand</a>
      </li>
      <li>
        <a href='sibscriptions.html' target="_self">Suscripciones</a>
      </li>
    </ul>
  </footer>
</body>
